fa-modifier(
  fa-translate='gravity.translate(grav.get())'
  fa-opacity='gravity.opacity(grav.get())'
)
  fa-modifier(
    fa-translate='entireView.translate(t.get())'
    fa-opacity='entireView.opacity(t.get())'
  )
    fa-modifier(
      fa-origin='[0.5, 0.15]'
      fa-align='[0.5, 0.15]'
    )
      fa-modifier(
        fa-translate='heading.translate(t.get())'
        fa-opacity='heading.opacity(t.get())'
      )
        fa-surface(fa-size="[true, true]")
          h1.heading Organize your Famo.us apps with Angular’s MVC structure 

    fa-modifier(
      fa-translate='routing.image.translate(t.get())'
      fa-opacity='routing.image.opacity(t.get())'
      fa-size='[true, true]'
    )
      fa-surface
        .column-image
          img(src='img/routing_x3.png' width='400px')

    fa-modifier(
      fa-translate='routing.text.translate(t.get())'
      fa-opacity='routing.text.opacity(t.get())'
      fa-size='[true, true]'
    )
      fa-modifier(
        fa-scale='routing.text.scale(t.get())'
        fa-origin='[0.5, 0.5]'
        fa-align='[0.5, 0.5]'
      )
        fa-surface.column
          .column-label
            | Routing
          .learn-more
            a(href='http://angular-ui.github.io/ui-router/site/#/api/ui.router') Learn More

    fa-modifier(
      fa-translate='dependency.image.translate(t.get())'
      fa-opacity='dependency.image.opacity(t.get())'
      fa-size='[true, true]'
    )
      fa-surface
        .column-image
          img(src='img/dependency_x3.png' width='400px')

    fa-modifier(
      fa-translate='dependency.text.translate(t.get())'
      fa-opacity='dependency.text.opacity(t.get())'
      fa-size='[true, true]'
    )
      fa-modifier(
        fa-scale='dependency.text.scale(t.get())'
        fa-origin='[0.5, 0.5]'
        fa-align='[0.5, 0.5]'
      )
        fa-surface.column
          .column-label
            | Dependency Injection
          .learn-more
            a(href='https://docs.angularjs.org/guide/di') Learn More

    fa-modifier(
      fa-translate='modules.image.translate(t.get())'
      fa-opacity='modules.image.opacity(t.get())'
      fa-size='[true, true]'
    )
      fa-surface
        .column-image
          img(src='img/modules_x3.png' width='380px')

    fa-modifier(
      fa-translate='modules.text.translate(t.get())'
      fa-opacity='modules.text.opacity(t.get())'
      fa-size='[true, true]'
    )
      fa-modifier(
        fa-scale='modules.text.scale(t.get())'
        fa-origin='[0.5, 0.5]'
        fa-align='[0.5, 0.5]'
      )
        fa-surface.column
          .column-label
            | Modules
          .learn-more
            a(href='https://docs.angularjs.org/guide/concepts') Learn More
