fa-view(ts-sheet='State5Sheet')
  fa-modifier(
    fa-translate='gravity.translate(grav.get())'
    fa-opacity='gravity.opacity(grav.get())'
  )
    fa-modifier(
      fa-translate='entireView.translate(t.get())'
      fa-opacity='entireView.opacity(t.get())'
    )
      fa-modifier(id='left-column')
        fa-surface(fa-size="[true, true]")
          img(src="img/webframe_x3.png" width="800px")

        fa-modifier(
          fa-translate='heroBlock.translate(t.get())'
          fa-size='[632, 236]'
          fa-opacity='heroBlock.opacity(t.get())'
          ng-if='showHeroBlock'
        )
          fa-surface
            include state-5-hero

      fa-modifier(id='right-column')
        fa-modifier(
          fa-translate='heading.translate(t.get())'
          fa-opacity='heading.opacity(t.get())'
        )
          fa-surface(fa-size="[500, true]")
            h1.heading Use HTML, CSS, and Famo.us all together

        fa-modifier(id='code-block')
          fa-modifier(
            fa-translate='code.top.translate(t.get())'
            fa-opacity='code.top.opacity(t.get())'
          )
            fa-surface(fa-size="[500, true]")
              .code
                pre
                  code
                    |&lt;body&gt;
                    |   &lt;div id=&quot;navbar&quot;&gt;...&lt;/div&gt;

          fa-modifier(
            fa-translate='code.middle.translate(t.get())'
            fa-opacity='code.middle.opacity(t.get())'
          )
            fa-surface(fa-size="[500, true]").code
              pre
                code.
                  &lt;<span class="tag">fa-app</span> <span class="attr-name">id</span>=<span class="attr-value">"banner"</span>&gt;
                    &lt;<span class="tag">fa-modifier</span> <span class="attr-name">...</span>&gt;
                       &lt;<span class="tag">fa-surface</span>&gt;
                         ...
                       &lt;/<span class="tag">fa-surface</span>&gt;
                    &lt;/<span class="tag">fa-modifier</span>&gt;
                  &lt;/<span class="tag">fa-app</span>&gt;

          fa-modifier(
            fa-translate='code.bottom.translate(t.get())'
            fa-opacity='code.bottom.opacity(t.get())'
          )
            fa-surface(fa-size="[500, true]")
              .code
                pre
                  code
                    |   &lt;div id=&quot;sidebar&quot;&gt;...&lt;/div&gt;
                    |   &lt;div id=&quot;content&quot;&gt;...&lt;/div&gt;
                    |&lt;/body&gt;
