fa-surface(
  fa-size='[true, true]'
  fa-z-index='9999'
)
  .mobile-state-nav
    .menu-icon
      span.octicon.octicon-three-bars

fa-container-surface(fa-options='containerSurfaceOptions')
  fa-modifier(
    fa-align='[0.5, 0]'
  )
    fa-modifier(
      ng-repeat='item in menuItems'
      fa-origin='[0.5, 0]'
      fa-translate='[0, 35, 0]'
      fa-rotate-x='item.rotateX(t.get())'
    )
      fa-surface(
        fa-size='[400, 75]'
        fa-z-index='9999'
      ).menu-item
        | {{item.text}}
