fa-modifier(fa-translate='[0, 0, 11]')
  fa-surface(
    fa-size='[true, true]'
  ).mobile-nav-logo
    a(href='https://famo.us')
      img.logo(src='img/famous_logo_white.svg')

fa-modifier(fa-translate='[0, 0, 10]')
  fa-container-surface(fa-options='containerSurfaceOptions')
    fa-modifier(
      fa-align='[0.5, 0]'
    )
      fa-modifier(
        fa-translate='[0, 25, 0]'
        fa-origin='[0.5, 0]'
        fa-opacity='gridModeT.get()'
      )
        fa-surface(
          fa-size="[true, true]"
          ng-click="gridMode.toggle('intro')"
        ).famous-angular
          h1
            | Famo.us/
            span.angular-text Angular

      fa-modifier(
        ng-repeat='item in menuItems'
        fa-origin='[0.5, 0]'
        fa-translate='[0, 45, 1]'
        fa-rotate-x='tile.rotateX($index, progressTimeline.get())'
      )
        fa-modifier(
          fa-translate='gridMode.translate($index, gridModeT.get())'
          fa-scale='tile.scale(gridModeT.get())'
        )
          fa-surface(
            fa-size='[540, 120]'
            fa-z-index='9999'
            ng-click='gridMode.toggle(item.state)'
            ng-class="{'active': tile.isCurrentState(item.state) }"
          ).menu-item
            | {{item.text}}


fa-modifier(
  fa-opacity='overlay.opacity(gridModeT.get())'
  fa-translate='overlay.translate(gridModeT.get())'
)
  fa-surface(
    fa-size='[undefined, undefined]'
    fa-background-color="'black'"
    ng-click='gridMode.toggle()'
  ).grid-mode-overlay


fa-modifier(
  fa-translate='overlay.xIcon.translate(gridModeT.get())'
)
  fa-surface(
    fa-size='[true, true]'
    ng-click='gridMode.toggle()'
  ).overlay-x
    .octicon.octicon-x
