fa-modifier(
  fa-opacity='opacity(t.get())'
  fa-origin='[0.5, 0]'
)

  fa-modifier(
    fa-translate='logo.translate(t.get())'
    fa-opacity='logo.opacity(t.get())'
  )
    fa-surface(
      fa-size="[true, true]"
    )
      img.logo(src='img/famous-angular-white-logo_x3.png' height="123px")
