fa-modifier(
  fa-translate='nametag.translate()'
)
  fa-modifier(
    fa-size='[620, 375]'
  )
    fa-modifier(
      fa-rotate-y='rotate()'
      fa-rotate-x='rotate()'
      fa-origin='[0.5, 0.5]'
    )
      fa-modifier(fa-translate='nametag.body.translate()')
        fa-surface(
          fa-size='[620, 375]'
        )
          .nametag-body
      fa-modifier(fa-translate='nametag.heading.translate()')
        fa-surface(
          fa-size='[620, true]'
        )
          .nametag-heading
            .hello
              | HELLO
            .intro
              | my name is
      fa-modifier(fa-translate='nametag.stripe.translate()')
        fa-surface(
          fa-size='[620, 210]'
        )
          .nametag-stripe
      fa-modifier(fa-translate='nametag.name.translate()')
        fa-surface(
          fa-size='[620, true]'
        ).clip-overflow
          .nametag-name
            | {{data.name}}

  fa-modifier(fa-translate='nametag.inputText.translate()')
    fa-surface(
      fa-size='[300, true]'
    )
      input(type='text' ng-model='data.name').input-name
      div.input-label
        | text input
  fa-modifier(fa-translate='nametag.inputRange.translate()')
    fa-surface(
      fa-size='[300, true]'
    )
      div.input-animation-container
        input(type='range' min="1" ng-model='data.t').input-animation
      div.input-label
        | Animation


fa-modifier(
  fa-translate='[960, 140, 0]'
)
  fa-modifier(fa-translate='content.translate()')
    fa-surface(fa-size="[750, true]")
      h1.heading Combine Data-binding with Famo.us surfaces and modifiers 

  fa-modifier(fa-translate='code.frame.translate()')
    fa-surface(fa-size="[700, true]")
      .code
        p fa-surface
