include state-nav

fa-modifier(
  fa-translate='[50, 40, 0]'
)
  fa-modifier(fa-translate='content.translate()')
    fa-surface(fa-size="[500, true]")
      .content
        h1 Use core Angular directives like 
          span.header-code &lt;ng-repeat&gt; 

  fa-modifier(fa-translate='code.translate()')
    fa-surface(fa-size="[500, true]")
      .code
        p fa-surface

fa-modifier(fa-origin='[1, 0.1]', fa-translate='[-50, 30, 0]', fa-size='[405, 250]')

  fa-modifier(
    ng-repeat='cat in cats'
    fa-size='[200, 75]'
    fa-animate-enter='catEnter(cat.t, $done)'
    fa-animate-leave='catLeave(cat.t, $done)'
    fa-translate='catTile.translate(cat.t, $index)'
    fa-opacity='catTile.opacity(cat.t, $index)'
    fa-origin="[0, 0]"
  )
    fa-modifier(
      fa-rotate-x='catTile.rotateX(cat.t, $index)'
    )
      fa-surface(
        fa-size='[200, 75]'
      ).cat-tile
        .left-col
          img(ng-src="{{cat.picture}}").cat-picture
        .right-col
          .cat-name {{cat.name}}
          .cat-location {{cat.location}}

  fa-modifier(fa-translate='inputRange.translate()')
    fa-surface(
      fa-size='[undefined, true]'
    )
      div.repeat-slider-container
        input(type='range' min="0" max="8" ng-model='data.repeatCount').repeat-slider

include state-footer
