fa-modifier(fa-translate='[0, 0, 10]')
  fa-surface(
    fa-size='[true, true]'
    fa-z-index='9999'
  )
    .mobile-state-nav
      .menu-icon
        span.octicon.octicon-three-bars

  fa-container-surface(fa-options='containerSurfaceOptions')
    fa-modifier(
      fa-align='[0.5, 0]'
    )
      fa-modifier(
        ng-repeat='item in menuItems'
        fa-origin='[0.5, 0]'
        fa-translate='[0, 35, 1]'
        fa-rotate-x='rotateX($index, t.get())'
      )
        fa-modifier(
          fa-translate='gridModePosition($index)'
        )
          fa-surface(
            fa-size='[400, 75]'
            fa-z-index='9999'
            ng-click='toggleGridMode()'
          ).menu-item
            | {{item.text}}

fa-modifier(
  fa-opacity='overlay.opacity()'
  fa-translate='overlay.translate()'
)
  fa-surface(
    fa-size='[undefined, undefined]'
    fa-background-color="'black'"
    ng-click='toggleGridMode()'
  ).grid-mode-overlay

