include state-nav

fa-modifier(
  fa-origin='[0.5, 0.1]'
)
  fa-modifier(fa-translate='heading.translate()')
    fa-surface(fa-size="[true, true]")
      h1.heading Organize your Famo.us apps with Angular’s MVC structure 

fa-modifier(
  fa-translate='routing.image.translate()'
  fa-size='[true, true]'
)
  fa-surface
    .column-image
      img(src='img/routing_x3.png' width='200px')

fa-modifier(
  fa-translate='routing.text.translate()'
  fa-size='[true, true]'
)
  fa-surface.column
    .column-label
      | Routing
    .learn-more
      | Learn More

fa-modifier(
  fa-translate='dependency.image.translate()'
  fa-size='[true, true]'
)
  fa-surface
    .column-image
      img(src='img/depdency_x3.png' width='200px')

fa-modifier(
  fa-translate='dependency.text.translate()'
  fa-size='[true, true]'
)
  fa-surface.column
    .column-label
      | Dependency Injection
    .learn-more
      | Learn More

fa-modifier(
  fa-translate='modules.image.translate()'
  fa-size='[true, true]'
)
  fa-surface
    .column-image
      img(src='img/modules_x3.png' width='180px')

fa-modifier(
  fa-translate='modules.text.translate()'
  fa-size='[true, true]'
)
  fa-surface.column
    .column-label
      | Modules
    .learn-more
      | Learn More

include state-footer
