fa-surface(
  fa-size='[true, true]'
  fa-z-index='9999'
)
  .mobile-state-nav
    .menu-icon
      span.octicon.octicon-three-bars

fa-container-surface(fa-options='navOptions')
  fa-modifier(
    fa-align='[0.5, 0.5]'
    fa-opacity='opacity()'
  )
    fa-modifier(
      ng-repeat='item in menuItems'
      fa-translate='getTranslate($index)'
      fa-opacity='getOpacity($index)'
    )
      fa-modifier(
        fa-origin='getOrigin($index)'
        fa-rotate-y='getRotateY($index)'
      )
        fa-surface(
          fa-size='itemSize'
          fa-z-index='9999'
        ).menu-item
          | {{item.text}}
