fa-modifier(
  fa-opacity="navbar.opacity(navTimeline.get())"
)
  fa-modifier(
    fa-origin="[0.5, 0]"
    fa-align="[0.5, 0]"
    fa-translate="[0, 60, 10]"
  )
    fa-surface(
      fa-size="[true, true]"
    )
      .state-nav
        a(ui-sref="intro" ui-sref-active='active')
          img(src='img/famous-angular-menu-logo_x3.png' height="42px") 
        a(ui-sref="1" ui-sref-active='active')
          | Render Tree
        a(ui-sref="2" ui-sref-active='active')
          | Data Binding
        a(ui-sref="3" ui-sref-active='active')
          | Angular Directives
        a(ui-sref="4" ui-sref-active='active')
          | Organization
        a(ui-sref="5" ui-sref-active='active')
          | Unification

  fa-modifier(
    fa-translate="[650, 100, 0]"
  )
    fa-modifier(
      fa-translate="progressDots.dot1.translate(progressTimeline.get())"
      fa-opacity="progressDots.dot1.opacity(progressTimeline.get())"
    )
      fa-surface(
        fa-size="[true, true]"
      )
        .scroll-progress-dot
    fa-modifier(
      fa-translate="progressDots.dot2.translate(progressTimeline.get())"
      fa-opacity="progressDots.dot2.opacity(progressTimeline.get())"
    )
      fa-surface(
        fa-size="[true, true]"
      )
        .scroll-progress-dot
    fa-modifier(
      fa-translate="progressDots.dot3.translate(progressTimeline.get())"
      fa-opacity="progressDots.dot3.opacity(progressTimeline.get())"
    )
      fa-surface(
        fa-size="[true, true]"
      )
        .scroll-progress-dot
